.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hide {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}

.promotion-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  animation: reveal 0.3s ease-in-out 0s;
  width: 100%;
  height: 100%;
  z-index: 3;
  opacity: 0;
  pointer-events: none;
  &.show {
    opacity: 1;
    pointer-events: auto;
    animation: reveal 0.3s ease-in-out forwards;
  }

  &.hide {
    animation: hide 0.3s ease-in-out forwards;
  }
}

.promotion-container {
  position: absolute;
  width: 58%;
  max-height: 70%;
  padding: 20px;
  top: 40%;
  left: 50%;
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transform: translate(-50%, -50%);
  overflow: auto;
}

.form {
  display: flex;
  margin-bottom: 20px;
  width: 100%;
  justify-content: space-between;
  gap: 70px;
  padding: 10px;
  background-color: var(--color-primary-2);
  border-radius: 8px;
  button {
    border: none;
    background-color: var(--color-primary-1);
    padding: 0 4px;
    font-weight: 800;
    border-radius: 4px;
    cursor: pointer;
    scale: 1;
    transition: all 0.1s ease-in-out;
    &:hover {
      scale: 1.1;
    }
  }
}

.promotion-info {
  flex: 1;
  display: flex;
  gap: 10px;
  .promotion-name {
    flex: 2;
    display: flex;
    label {
      font-size: 1.6rem;
      color: white;
    }
    input {
      width: 100%;
      margin-left: 8px;
      border-bottom: 1px solid #bbb;
      font-size: 1.6rem;
      font-weight: 400;
      color: white;
      background-color: transparent;
    }
  }

  .promotion-discount {
    flex: 1;
    display: flex;
    label {
      font-size: 1.6rem;
      color: white;
    }
    input {
      width: 100%;
      margin-left: 8px;
      border: none;
      outline: none;
      border-bottom: 1px solid #bbb;
      background-color: transparent;
      color: white;
    }
  }
}

.promotion-variant {
}

.variant-item {
  display: grid;
  grid-template-columns: 2fr 9fr 1fr 1fr;
  padding-bottom: 4px;
  border-bottom: 1px solid #bbb;
  margin-bottom: 8px;
  align-items: center;
  gap: 10px;
}

.variant-img {
  padding: 12px;
}

.variant-name-price {
  display: flex;
  flex-direction: column;
  gap: 8px;
  .name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .price {
  }
}

.variant-inventory {
  height: 100%;
  place-content: center;
  text-align: center;
  cursor: default;
}

.variant-discount {
  height: 100%;
  place-content: center;
  text-align: center;
  cursor: default;
}
