.wrapper {
  width: 100%;
  overflow: auto;
}

.container {
  width: 100%;
  padding: 20px;
  padding-left: 0;
}

.re-fetch {
  button {
    background-color: var(--color-primary-2);
    color: white;
    font-weight: 700;
    padding: 4px 8px;
    border: 2px solid var(--color-primary-3);
    font-size: 1.6rem;
    border-radius: 4px;
    margin-bottom: 8px;
    cursor: pointer;
  }
}
