.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .blank {
    height: 100%;
  }

  &::-webkit-scrollbar {
    width: 4px;
    height: 0;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #2b2b2b;
    border-radius: 10px;
  }
}

.container {
  display: flex;
  width: 100%;
  height: 90%;
  transition: all 0.2s ease-in-out;

  &.product-current {
    transform: translateX(0);
  }

  &.brand-category-current {
    transform: translateX(-100%);
  }

  &.option-service-current {
    transform: translateX(-200.1%);
  }
  &.specification-current {
    transform: translateX(-300%);
  }
}

.navbar {
  margin: 12px 0;
  button {
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 700;
    transition: all 0.1s ease-in-out;
    &:not(:last-child) {
      margin-right: 8px;
    }
    &.active {
      background-color: var(--color-primary-2);
      color: white;
    }
  }
}

.product {
  height: 100%;
  overflow: auto;
  min-width: 100%;
  &::-webkit-scrollbar {
    width: 4px;
    height: 0;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #2b2b2b;
    border-radius: 10px;
  }
}

.brand-category {
  height: 100%;
  overflow: auto;
  min-width: 100%;
  &::-webkit-scrollbar {
    width: 4px;
    height: 0;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #2b2b2b;
    border-radius: 10px;
  }
}

.option-package_service {
  height: 100%;
  overflow: auto;
  min-width: 100%;
}

.specification {
  height: 100%;
  overflow: auto;
  min-width: 100%;
  &::-webkit-scrollbar {
    width: 4px;
    height: 0;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #2b2b2b;
    border-radius: 10px;
  }
}
