@keyframes fade-in-from-center {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wrapper {
  width: 100%;
}

.container {
  width: 100%;
  height: 100%;
}

.table {
  table {
    width: 100%;

    thead {
      background-color: var(--color-primary-2);
      color: white;
      tr {
        th {
          font-weight: 700;
        }
      }
      th:nth-child(1) {
        border-top-left-radius: 4px;
      }
      th:nth-child(2) {
      }
      th:nth-child(3) {
      }
      th:nth-child(4) {
      }
      th:nth-child(5) {
      }
      th:nth-child(6) {
      }
      th:nth-child(7) {
      }
      th:nth-child(8) {
      }
      th:nth-child(9) {
        border-top-right-radius: 4px;
      }
      th:nth-child(10) {
        visibility: hidden;
      }
    }
    tbody {
      tr {
        cursor: pointer;
        &:not(:last-child) {
          td {
            border-bottom: 0.8px solid var(--color-border);
          }
        }
        &:hover {
          background-color: var(--color-primary-1);
        }
      }
      td {
        padding: 4px 0;
      }
      td:nth-child(1) {
        font-weight: 800;
        text-align: center;
      }
      td:nth-child(2) {
        text-align: center;
        button {
          border: none;
          background-color: rgba(71, 76, 247, 0.107);
          padding: 4px;
          border-radius: 4px;
          font-size: 1.4rem;
          font-weight: 700;
          cursor: pointer;
        }
      }
      td:nth-child(3) {
        text-align: center;
        font-weight: 900;
      }
      td:nth-child(4) {
        text-align: center;
        font-weight: 800;
        color: darkorange;
      }
      td:nth-child(5) {
        color: #0b805d;
        font-weight: 700;
        text-align: center;
      }
      td:nth-child(6) {
        text-align: center;
        font-weight: 800;
      }
      td:nth-child(7) {
        text-align: center;
      }
      td:nth-child(8) {
        text-align: center;
        button {
          border: none;
          background-color: rgba(71, 76, 247, 0.107);
          padding: 4px;
          border-radius: 4px;
          font-size: 1.4rem;
          font-weight: 700;
          cursor: pointer;
        }
      }
      td:nth-child(9) {
        text-align: center;
      }
      td:nth-child(10) {
        display: flex;
        flex-direction: column;
        align-items: center;
        button {
          border: none;
          padding: 4px;
          border-radius: 4px;
          font-size: 1.4rem;
          font-weight: 800;
          cursor: pointer;
          width: 90%;
          color: white;
          scale: 1;
          transition: all 0.2s ease-in-out;
          &:hover {
            scale: 1.1;
          }
        }
        button:nth-child(1) {
          background-color: tomato;
        }
        button:nth-child(2) {
          margin-top: 8px;
        }
      }
    }
  }
}

.product-cover {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.211);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &.show {
    display: block;
  }
}

.cover-blank {
  position: absolute;
  display: flex;
  padding: 32px 8px 8px 8px;
  top: 50%;
  left: 50%;
  animation: fade-in-from-center 0.1s ease-out forwards;
  flex-direction: column;
  max-height: 80vh;
  transform: translate(-50%, -50%);
  width: 70%;
  background-image: url("../../images/hand_painted_ocean_themed_fluid_art_design_1704.jpg");
  border-radius: 4px;
  border: 2px solid var(--color-primary-2);
}

.table-product {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 4px;
  padding: 8px 8px 8px 8px;
  overflow: auto;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    width: 4px;
    height: 0;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #2b2b2b;
    border-radius: 10px;
  }

  .exist-btn {
    border: none;
    display: flex;
    background-color: transparent;
    cursor: pointer;
    place-self: end;
    margin-bottom: 10px;
    svg {
      font-size: 1.8rem;
      scale: 1;
      transform: rotate(0);
      transition: all 0.2s ease-in-out;
      &:hover {
        transform: rotate(180deg);
        scale: 1.1;
      }
    }
  }

  table {
    thead {
      background-color: var(--color-primary-2);
      color: white;

      tr {
        &:hover {
          background-color: var(--color-primary-2);
        }
      }
      th:nth-child(1) {
        width: 10%;
      }
      th:nth-child(2) {
        width: 20%;
      }
      th:nth-child(3) {
        width: 40%;
      }
      th:nth-child(4) {
      }
      th:nth-child(5) {
        border-top-right-radius: 4px;
      }
      th:nth-child(6) {
        background-color: white;
        border: none;
        box-shadow: none;
      }
    }
    tbody {
      tr {
        &:not(:last-child) {
          td {
            border-bottom: 0.8px solid var(--color-border);
          }
        }
      }
      td:nth-child(1) {
        img {
          height: 80px;
          border-radius: 8px;
          object-fit: contain;
          place-self: center;
        }
      }
      td:nth-child(2) {
        font-size: 1.6rem;
        font-weight: 700;
      }
      td:nth-child(3) {
        ul {
          margin-left: 16px;
          li {
            text-align: start;
            font-size: 1.2rem;
            color: var(--color-text-gray);
            &:not(:last-child) {
              margin-bottom: 4px;
            }
            span {
              margin-left: 2px;
            }
          }
        }
      }
      td:nth-child(4) {
        color: var(--color-text-primary);
        font-weight: 600;
      }
      td:nth-child(5) {
        font-weight: 800;
        color: darkorange;
      }
      td:nth-child(6) {
        font-size: 1rem;
        font-weight: 600;
      }
    }
  }
}

.address-cover {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &.show {
    display: block;
  }
}

.table-address {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  .exist-btn-address {
    border: none;
    display: flex;
    background-color: transparent;
    cursor: pointer;
    place-self: end;
    margin-bottom: 10px;
    svg {
      font-size: 1.8rem;
      scale: 1;
      transform: rotate(0);
      transition: all 0.2s ease-in-out;
      &:hover {
        transform: rotate(180deg);
        scale: 1.1;
      }
    }
  }

  table {
    thead {
      tr {
        &:hover {
          background-color: var(--color-primary-2);
        }
      }
      th:nth-child(1) {
        font-weight: 600;
      }
      th:nth-child(2) {
      }
      th:nth-child(3) {
        font-weight: 600;
      }
      th:nth-child(4) {
        font-weight: 600;
        border-top-right-radius: 8px;
        width: 30%;
      }
    }
    tbody {
      tr {
      }
      td:nth-child(1) {
        font-weight: 600;
      }
      td:nth-child(2) {
      }
      td:nth-child(3) {
        font-weight: 600;
      }
      td:nth-child(4) {
        font-weight: 600;
        color: var(--color-text-primary);
      }
    }
  }
}

.review-btn {
  display: flex;
  width: 100%;
  background-color: transparent;
  cursor: pointer;
  border: none;
  justify-content: center;
  svg {
    font-size: 2.4rem;
    scale: 1;
    transition: all 0.2s ease-in-out;
  }
  &:hover {
    svg {
      scale: 1.2;
      color: var(--color-primary-2);
    }
  }
  &.commented {
    svg {
      color: #8cc24a;
    }
  }
  &.notAllowReview {
    opacity: 0.4;
  }
}

.review-cover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.211);
  z-index: 100;
  &.show {
    display: block;
  }
}

.review-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  background-color: white;
  border: 6px solid var(--color-primary-1);
  cursor: default;
}

.review-container {
  width: 100%;
  padding: 12px;
  max-height: 70vh;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 4px;
    height: 0;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #2b2b2b;
    border-radius: 10px;
  }
}

.review-element {
  display: flex;
  gap: 20px;
  padding: 8px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.review-product_img {
  display: flex;
  flex-direction: column;
  width: 100px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    &.notAllowEdit {
      opacity: 0.6;
    }
  }
  button {
    margin-top: 8px;
    background-color: var(--color-primary-3) !important;
    color: white;
    font-weight: 800;
    scale: 1;
    transition: all 0.2s ease-in-out;
    &:hover {
      scale: 1.1;
    }
    &.loading {
      opacity: 0.4;
      cursor: not-allowed !important;
    }
  }
}

.review-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h4 {
    text-align: left;
  }
  &.notAllowEdit {
    opacity: 0.6;
  }
}

.review-stars {
  display: flex;
  .star {
    display: flex;
    color: goldenrod;
    cursor: pointer;

    &.full {
      color: gold;
      scale: 1;
      transition: all 0.1s ease-in-out;
    }
    &.full:hover {
      scale: 1.3;
    }
    &.loading {
      cursor: not-allowed;
    }
  }
}

.review-textarea {
  width: 100%;
  height: 100px;
  padding: 8px;
  resize: none;
  border: 2px solid var(--color-border);

  &.loading {
    cursor: not-allowed;
    background-color: #c7c7c77a;
  }
}

.review-button {
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
  place-self: end;

  button {
    background-color: rgb(254, 61, 61) !important;
    color: white;
    scale: 1;
    transition: all 0.2s ease-in-out;
    &:hover {
      scale: 1.1;
    }
  }

  &.loading {
    button {
      opacity: 0.4;
      cursor: not-allowed !important;
    }
  }
}
