.product-form {
  width: 100%;
  background-color: var(--color-bg-light);
  padding: 16px;
  border-radius: 8px;
  input,
  select {
    border-radius: 8px;
    padding: 8px;
    border: 1px solid #d3d3d3;
  }
  textarea {
    height: 100px;
  }
}
