.form {
  padding: 4px;
}

.product-form {
  width: 100%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
  padding: 16px;

  & section {
    background-color: var(--color-bg-light);
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 40px;

    & h1 {
      position: relative;
      margin-bottom: 30px;
      width: 100%;
      border-bottom: 1px solid rgb(188, 188, 188);
    }
  }
  input,
  select {
    border-radius: 8px;
    padding: 8px;
    border: 1px solid #d3d3d3;
  }
  textarea {
    height: 100px;
  }
}

.submit {
  margin: 12px;
  color: white;
  font-weight: 800;
  font-size: 1.6rem;
  padding: 6px 52px;
  background-color: darkorange;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
