.product-form {
  width: 100%;
  & section {
    background-color: var(--color-bg-light);
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 40px;

    & h1 {
      position: relative;
      margin-bottom: 30px;
      width: 100%;
      border-bottom: 1px solid rgb(188, 188, 188);
    }
  }
  input,
  select {
    border-radius: 8px;
    padding: 8px;
    border: 1px solid #d3d3d3;
  }
  textarea {
    height: 100px;
  }
}
