.promotion-wrapper {
  position: fixed;
  height: 86%;
  width: 40%;
  z-index: 3;
  top: 12%;
  right: 1%;
  opacity: 0;
  pointer-events: none;
  &.show {
    opacity: 1;
    pointer-events: auto;
    animation: reveal 0.3s ease-in-out forwards;
  }

  &.hide {
    animation: hide 0.3s ease-in-out forwards;
  }
}

.promotion-container {
  position: absolute;
  width: 100%;
  max-height: 100%;
  padding: 20px;
  background-color: #cccccc56;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  overflow: auto;
}

.promotion-list {
  background-color: white;
  padding: 8px;
  border-radius: 8px;
  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.promotion-main {
  display: flex;
  margin-bottom: 20px;
  width: 100%;
  justify-content: space-between;
  gap: 70px;
  padding: 10px;
  background-color: var(--color-primary-2);
  border-radius: 8px;
}

.promotion-edit-btn {
  display: flex;
  gap: 8px;
  button {
    border: none;
    background-color: var(--color-primary-1);
    padding: 0 4px;
    font-weight: 800;
    border-radius: 4px;
    cursor: pointer;
    scale: 1;
    transition: all 0.1s ease-in-out;
    &:hover {
      scale: 1.1;
    }
  }
}

.promotion-info {
  flex: 1;
  display: flex;
  gap: 10px;
  .promotion-name {
    flex: 2;
    display: flex;
    span {
      color: white;
      font-weight: 800;
      cursor: pointer;
    }
  }

  .promotion-discount {
    flex: 1;
    display: flex;

    span {
      color: white;
      font-weight: 700;
      cursor: pointer;
    }
  }
}

.promotion-variant {
}

.variant-item {
  display: grid;
  grid-template-columns: 2fr 9fr 1fr 1fr;
  padding-bottom: 4px;
  border-bottom: 1px solid #bbb;
  margin-bottom: 8px;
  align-items: center;
  gap: 10px;
}

.variant-img {
  padding: 12px;
}

.variant-name-price {
  display: flex;
  flex-direction: column;
  gap: 8px;
  .name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .price {
    &.discount {
      & span:first-child {
        text-decoration: line-through;
        font-size: 1.3rem;
        color: #bbb;
      }
      & span:last-child {
        font-weight: 800;
        margin-left: 8px;
        color: darkorange;
      }
    }
  }
}

.variant-inventory {
  height: 100%;
  place-content: center;
  text-align: center;
  cursor: default;
}

.variant-discount {
  height: 100%;
  place-content: center;
  text-align: center;
  cursor: default;
}
