.wrapper {
}

.container {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-bottom: 12px;
}

.title {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
  h2 {
  }

  button {
    font-size: 1.2rem;
    font-weight: 900;
    background-color: var(--color-primary-1);
    border-radius: 4px;
    padding: 0 4px;
    border: none;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    &.active {
      color: white;
      background-color: darkorange;
    }
  }
}

.blank {
  display: flex;
  table {
    flex: 1;
    thead {
      background-color: var(--color-primary-2);
      color: white;
      font-weight: 700;

      tr {
        th {
          &:nth-child(1) {
            width: 10%;
            border-top-left-radius: 8px;
          }
          &:nth-child(2) {
            width: 50%;
            span {
              width: 100%;
            }
          }
          &:nth-child(3) {
            text-align: center;
            width: calc(35% / 2);
            span {
              width: 100%;
            }
          }
          &:nth-child(4) {
            width: calc(35% / 2);

            span {
              width: 100%;
            }
          }
          &:nth-child(5) {
            width: 5%;
            border-top-right-radius: 8px;
            span {
              width: 100%;
            }
          }
        }
      }
    }
    tbody {
      tr {
        td {
          &:nth-child(1) {
            .variant-img {
              position: relative;
              & div {
                position: absolute;
                z-index: 999;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                background-color: transparent;
                transition: all 0.2s ease-in-out;
              }
              button {
                position: absolute;
                z-index: 999;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 0rem;
                padding: 4px 0;
                border: none;
                border-radius: 4px;
                scale: 0;
                transition: all 0.2s ease-in-out;
                font-weight: 800;
                background-color: var(--color-primary-3);
                color: white;
              }

              &.active:hover {
                & div {
                  background-color: rgba(62, 62, 62, 0.207);
                }
                button {
                  scale: 1;

                  cursor: pointer;
                  font-size: 0.8rem;
                }
              }
            }
          }
          &:nth-child(2) {
            span {
              display: inline-block;
              width: 100%;
            }
            input {
              width: 100%;
              font-size: 1.6rem;
              padding: 8px 0;
            }
          }
          &:nth-child(3) {
            text-align: center;
            span {
              display: inline-block;
              width: 100%;
            }
            input {
              text-align: center;
              padding: 8px 0;
              width: 100%;
              font-size: 1.6rem;
            }
          }
          &:nth-child(4) {
            text-align: center;
            span {
              display: inline-block;
              width: 100%;
            }
            input {
              text-align: center;
              padding: 8px 0;
              width: 100%;
              font-size: 1.6rem;
            }
          }
          &:nth-child(5) {
            text-align: center;
            .variant-remove {
              position: relative;
              display: flex;
              background-color: transparent;
              justify-content: center;
              align-items: center;
              border: none;
              width: 100%;
              cursor: pointer;
              &.exist-in-order {
                svg {
                  opacity: 0.3;
                }
                &::after {
                  display: none;
                  content: "Biến thể có tồn tại trong đơn hàng";
                  position: absolute;
                  width: max-content;
                  right: 100%;
                  top: 50%;
                  transform: translateY(-50%);
                  background-color: white;
                  padding: 4px 8px;
                  opacity: 1;
                  z-index: 1;
                  border-radius: 4px;
                  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                }
                &:hover {
                  &::after {
                    display: block;
                  }
                }
              }
              svg {
                transition: all 0.2s ease-in-out;
                font-size: 1.8rem;
              }
              &:hover {
                svg {
                  color: red;
                  font-size: 2rem;
                }
              }
            }
            span {
              display: inline-block;
              width: 100%;
            }
          }
        }
        &.remove {
          background-color: rgb(255, 188, 176);
        }
      }
    }
  }
}

.submit-btn {
  text-align: center;
  border: none;
  margin-top: 12px;
  margin-left: 8px;
  background-color: darkorange;
  border-radius: 4px;
  font-weight: 800;
  color: white;
  padding: 2px 16px;
  font-size: 1.6rem;
  cursor: pointer;
  scale: 1;
  transition: all 0.2s ease-in-out;
  &:hover {
    scale: 1.1;
  }
}
