@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&display=swap");

:root {
  // Primary Colors
  --color-primary-1: #b5ddff;
  --color-primary-2: #2881eb;
  --color-primary-3: #1f3c88;
  --color-primary-4: #121756;

  // Text Colors
  --color-text-primary: #333333;
  --color-text-gray: #818988;
  --color-text-light: #ffffff;

  // Background Colors
  --color-bg-light: #f3f4f8;

  // Border color
  --color-border: #d3d3d3;
}

* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  color: var(--color-text-primary);
  line-height: 1.5;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-size: 1.6rem;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    width: 4px;
    height: 0;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #2b2b2b;
    border-radius: 10px;
  }
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
  border: none;
  outline: none;
}
