@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  // Primary Colors
  --color-primary-1: #f1f8fe;
  --color-primary-2: #2881eb;
  --color-primary-3: #1f3c88;
  --color-primary-4: #121756;

  // Text Colors
  --color-text-primary: #333333;
  --color-text-gray: #818988;
  --color-text-light: #ffffff;

  // Background Colors
  --color-bg-light: #f3f4f8;

  // Border color
  --color-border: #d3d3d3;
}

* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  color: var(--color-text-primary);
  line-height: 1.5;
}

body {
  margin: 0;
  font-size: 1.6rem;
}

ul,
ol {
  list-style: none; /* Loại bỏ dấu chấm/số mặc định */
}

a {
  color: inherit; /* Kế thừa màu chữ từ cha */
  background-color: transparent; /* Loại bỏ background mặc định trên một số trình duyệt */
  text-decoration: none; /* Loại bỏ gạch chân mặc định */
}

img {
  display: block; /* Tránh khoảng trắng dưới ảnh */
  max-width: 100%; /* Đảm bảo ảnh không tràn ra ngoài */
  height: auto;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
  border: none;
  outline: none;
}
