.wrapper {
  margin-top: 80px;
}

.container {
  position: relative;
  margin-right: 10px;
  .show-more-btn {
    position: absolute;
    height: 40px;
    width: 100%;
    bottom: 0;
    background-color: transparent;
    border: none;
    outline: none;
    z-index: 1;
    cursor: pointer;
  }
  .show-less-btn {
    padding: 2px 30px;
    margin-top: 12px;
    text-align: center;
    place-content: center;
    place-self: center;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    &:hover {
      background-color: #d5d5d5;
    }
  }
  &.show-more {
    &::after {
      content: "show more";
      position: absolute;
      height: 40px;
      width: 100%;
      place-content: center;
      font-weight: 500;
      font-size: 1.6rem;
      text-align: center;
      background: linear-gradient(
        to top,
        rgb(145, 140, 140) -30%,
        rgba(240, 240, 240, 0.5) 90%,
        transparent 100%
      );
      bottom: 0;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;

      z-index: 0;
    }
  }
}

.product-table {
  padding: 12px;
  margin-top: 10px;

  background-color: white;
  border-radius: 8px;
  table {
    width: 100%;
    border-collapse: collapse;
    thead {
      background-color: #4198ff;
      th {
        color: white;
        padding: 4px 0;
        font-size: 1.4rem;
        font-weight: 700;
      }
    }

    thead th:nth-child(1) {
      width: 4%;
      color: var(--color-text-gray);
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    thead th:nth-child(2) {
      width: 10%;
      text-align: left;
    }

    thead th:nth-child(3) {
      text-align: left;
    }

    thead th:nth-child(4) {
      width: 8%;
      text-align: left;
    }

    thead th:nth-child(5) {
      text-align: left;
    }

    thead th:nth-child(6) {
      width: 8%;
      text-align: center;
    }

    thead th:nth-child(7) {
      width: 8%;
      text-align: center;
    }

    thead th:nth-child(8) {
      width: 10%;
      text-align: center;
    }

    thead th:nth-child(9) {
      width: 6%;
      text-align: center;
    }
    thead th:nth-child(10) {
      width: 4%;
      text-align: center;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    tbody {
    }

    tbody tr {
      font-size: 1.4rem;
      border-radius: 4px;
      border-bottom: 1px solid #dbdbdb;
      &:hover {
        background-color: var(--color-primary-1);
        td:first-child {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }
        td:last-child {
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }
      }
      &.outStock {
        opacity: 0.4;
      }
    }
    tbody tr td {
      padding: 8px 0;
    }
    tbody tr td:nth-child(1) {
      text-align: center;
      color: var(--color-text-gray);
    }
    tbody tr td:nth-child(2) {
      div {
        img {
          width: 100%;
          height: 60px;
          object-fit: contain;
          place-self: center;
        }
      }
    }
    tbody tr td:nth-child(3) {
      font-weight: 700;
      padding: 0 8px;
    }
    tbody tr td:nth-child(4) {
      & .product-option {
        display: flex;
        flex-direction: column;

        & span {
          width: fit-content;
          padding: 0 4px;
          background-color: #dbdbdb;
          border-radius: 2px;
          &:not(:last-child) {
            margin-bottom: 2px;
          }
        }
      }
    }
    tbody tr td:nth-child(5) {
    }
    tbody tr td:nth-child(6) {
      text-align: center;
    }
    tbody tr td:nth-child(7) {
      text-align: center;
    }
    tbody tr td:nth-child(8) {
      text-align: center;
    }
    tbody tr td:nth-child(9) {
      text-align: center;
    }
    tbody tr td:nth-child(10) {
      text-align: center;
    }
  }
}

.skeleton-loading td {
  background-color: #aaaaaa;
  height: 60px;
  animation: simple-pulse 1.5s infinite ease-in-out;
  &:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  &:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

@keyframes simple-pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
