.wrapper {
  width: 100%;
  overflow: auto;
  width: fit-content;
}

.container {
  width: 100%;
}

.edit-section {
  display: flex;
  width: 100%;
  transition: all 0.2s ease-in-out;
  &::-webkit-scrollbar {
    width: 4px;
    height: 0;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #2b2b2b;
    border-radius: 10px;
  }

  &.brand-category-current {
    transform: translateX(0);
  }
  &.option-service-current {
    transform: translateX(-100%);
  }
  &.specification-current {
    transform: translateX(-200%);
  }
}

.edit-brand-category {
  display: flex;
  gap: 20px;
  min-width: 100%;
  padding-right: 8px;
  overflow: hidden;
}

.edit-option-service {
  min-width: 100%;
  padding-right: 8px;
}

.edit-specification {
  min-width: 100%;
  padding-right: 8px;
}

.navbar {
  margin: 12px 0;
  button {
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 700;
    transition: all 0.1s ease-in-out;
    &:not(:last-child) {
      margin-right: 8px;
    }
    &.active {
      background-color: var(--color-primary-2);
      color: white;
    }
  }
}

.categories-selector {
  position: relative;
  width: fit-content;
  z-index: 2;
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hide {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}

.chosen-category {
  display: flex;
  gap: 8px;
  background-color: white;
  padding: 6px 12px;
  border-radius: 4px;
  width: fit-content;
  cursor: pointer;
  h4 {
  }
  span {
    background-color: var(--color-primary-2);
    padding: 2px 4px;
    color: white;
    border-radius: 2px;
  }
}

.list-category {
  position: absolute;
  top: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(160, 160, 160, 0.492);
  width: 230px;
  gap: 8px;
  padding: 8px;
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;
  &.show {
    opacity: 1;
    pointer-events: auto;
    animation: reveal 0.3s ease-in-out forwards;
  }

  &.hide {
    animation: hide 0.3s ease-in-out forwards;
  }
  li {
    background-color: white;
    padding: 0 4px;
    border-radius: 4px;
    scale: 1;
    transition: all 0.2s ease-in-out;
    font-size: 1.4rem;
    cursor: pointer;
    &:hover {
      scale: 1.08;
      background-color: var(--color-primary-1);
    }
    &.active {
      background-color: var(--color-primary-2);
      color: white;
      font-weight: 800;
    }
  }
}
