.wrapper {
  position: relative;
  width: 100%;
}

.blank {
  width: 100%;
}

.container {
  width: 100%;
  padding: 20px;
  .statistic-top {
    display: flex;
    width: 100%;
    gap: 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 20px;
    justify-content: space-between;
    border-radius: 8px;

    background-color: white;
  }

  .revenue {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 8px;
    color: white;
    font-size: 1.8rem;
    align-items: center;
    gap: 12px;

    background-color: #616162;

    span:nth-child(2) {
      font-size: 3rem;
      font-weight: 800;
    }
  }

  .product {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #616162;
    padding: 16px;
    border-radius: 8px;
    color: white;
    font-size: 1.8rem;
    align-items: center;
    gap: 12px;
    span:nth-child(2) {
      font-size: 3rem;
      font-weight: 800;
    }
  }

  & div {
    &.decrease {
      background-color: tomato;
    }
    &.increase {
      background-color: #1bb052;
    }
    &.stable {
      background-color: var(--color-primary-2);
    }
  }
}

.years {
  position: fixed;
  right: 0;
  top: 30%;
  display: flex;
  flex-direction: column;
  margin-right: 8px;
  z-index: 999;
  button {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    gap: 4px;
    padding: 4px;
    background-color: #c2e3ff8f;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    &:hover svg {
      transform: rotate(360deg);
    }
    svg {
      transform: rotate(0deg);
      transition: all 0.5s ease-in-out;
    }

    span {
      font-weight: 800;
    }
  }
}

.years-container {
  height: 0;
  overflow: hidden;
  transition: all 0.1s ease-in-out;
  &.show {
    height: 300px;
  }
}

.year {
  background-color: var(--color-primary-2);
  border-radius: 4px;
  padding: 6px;
  span {
    display: block;
    width: 100%;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
}

.year-container {
  height: 0;
  overflow: hidden;
  transition: all 0.1s ease-in-out;
  background-color: white;
  padding: 0;
  border-radius: 4px;
  &.show {
    height: 100px;
    padding: 2px;
  }
  ul {
    li {
      display: flex;
      align-items: center;
      gap: 2px;
      margin-left: 4px;
      cursor: pointer;
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      svg {
        font-size: 1.4rem;
      }
    }
  }
}

.quarters {
}

.statistic-main {
}
