.wrapper {
  position: relative;
  width: 100%;

  background-color: var(--color-bg-light);
}

.container {
  width: 100%;
  min-height: 100vh;
  max-width: 70%;
  margin: auto;
  margin-top: 80px;
  padding: 20px 0;
}
