.wrapper {
  position: relative;
  width: 100%;
  background-color: var(--color-bg-light);
}

.container {
  width: 100%;
  min-height: 100vh;
  max-width: 70%;
  margin: auto;
  margin-top: 80px;
  padding: 20px 0;
}

.chat-box {
  position: fixed;
  bottom: 4%;
  right: 2%;
  z-index: 1000000000000000000000000;
}

.chat-box-icon {
  position: absolute;
  height: 100px;
  width: 100px;
  z-index: 1;
  bottom: 0;
  right: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin: 0;
  &.show {
    height: 60px;
    width: 54px;
    margin-right: 12px;
    margin-bottom: 9px;
  }
  img {
    height: 100%;
    object-fit: contain;
  }
}
