.wrapper {
  position: relative;
  width: 100%;
  background-color: var(--color-bg-light);
}

.container {
  width: 100%;
  min-height: 100vh;
  max-width: 70%;
  margin: auto;
  margin-top: 80px;
  padding: 20px 0;
}

.chat-box {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 0;
  right: 0;
  z-index: 1000;
}

@keyframes bouncing-effect {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
  40% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-10px);
  }
  80% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

.chat-box-img {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 100%;
  right: 100%;
  z-index: 2;

  img {
    width: 60px;
    height: 60px;
    cursor: pointer;
    scale: 1;
    transition: all 0.2s ease-in-out;
    animation: bouncing-effect 2s infinite;
    &:hover {
      scale: 1.2;
    }
  }
}

.chat-box-ai {
  display: none;
  position: absolute;
  bottom: 200%;
  right: 100%;
  height: fit-content;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  z-index: 1;
  &.show {
    display: flex;
  }
}
