.product-specifications {
  max-width: 100%;
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 16px;
}

.attribute-wrapper:not(:last-child) {
  margin-bottom: 8px;
}

.attribute-container {
}

.attribute-group-wrapper {
  display: flex;
}

.attribute-group {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 8px;
  background-color: var(--color-bg-light);
  border-radius: 8px;

  span {
    font-size: 1.8rem;
  }

  button {
    height: fit-content;
    border: none;
    background-color: transparent;
    transform: rotate(0);
    transition: all 0.2s ease-in-out;

    svg {
      font-size: 1.6rem;
    }
    &.expend {
      transform: rotate(180deg);
    }
  }
}

.attribute-items {
  margin-left: 12px;
  height: 0;
  overflow: hidden;
  &.expend {
    height: fit-content;
  }
  .attribute-item {
    display: flex;
    gap: 8px;
    flex-direction: row;
    padding: 8px 0;

    & div {
      display: flex;
      align-items: center;
      gap: 4px;
      & span {
        width: 200px;
        font-weight: 700;
      }
    }
  }
  .attribute-item:not(:last-child) {
    border-bottom: 0.8px solid var(--color-border);
  }
}

.blank {
  display: flex;
  gap: 20px;
}

.groups-exist {
  flex: 1;
}

.groups-new {
  flex: 1;
}
