.wrapper {
  display: flex;
  gap: 20px;
  width: 100%;
}

.container {
  width: 50%;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  h3 {
    font-weight: 700;
  }
}

.pie-chart {
  height: 340px;
  width: 100%;
}
