.wrapper {
  width: 100%;
  margin: auto;
  margin-top: 0;
}

.container {
  margin: 10px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  & h1 {
    margin-bottom: 20px;
  }
}

.blank {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.user {
  display: flex;
  border-radius: 8px;
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);

  & button {
    padding: 0 8px;
    background-color: darkorange;
    border: none;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    font-weight: 800;
    &.active {
      background-color: green;
    }
    & span {
      font-size: 0;
      transition: all 0.1s ease-in-out;
      font-weight: 800;
      color: white;
    }
    &:hover {
      padding: 0 10px;
      & span {
        font-size: 1.4rem;
      }
    }
  }
  & input {
    color: var(--color-text-primary);
    font-size: 1.8rem;
    padding: 8px 2px;
    border-radius: 8px;
    outline: none;
    background-color: transparent;
    border: 0.6px solid var(--color-border);
  }
  & span {
    color: var(--color-text-primary);
    font-size: 1.8rem;
    padding: 8px 2px;
    border-radius: 8px;
    outline: none;
    background-color: transparent;
  }
  & .top {
    flex: 1;
    padding: 10px;
  }
  & .bottom {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.user-name {
  display: grid;
  grid-template-columns: 10% 90%;
  width: 100%;
  align-items: center;
  margin-bottom: 8px;
  label {
    font-weight: 800;
  }
}

.user-phone {
  display: grid;
  grid-template-columns: 10% 90%;
  width: 100%;
  align-items: center;
  margin-bottom: 8px;
  label {
    font-weight: 800;
  }
}

.user-email {
  display: grid;
  grid-template-columns: 10% 90%;
  width: 100%;
  align-items: center;
  label {
    font-weight: 800;
  }
}

.bottom-wrapper {
  display: flex;
  gap: 12px;
  margin-bottom: 4px;
}

.user-province {
  position: relative;
  flex: 1;
  display: flex;

  input {
    width: 100%;
    border-radius: 0;
    padding: 12px 4px;
    text-align: center;
  }
  span {
    width: 100%;
    text-align: center;
    border: 0.8px solid var(--color-border);
  }
}

.user-district {
  position: relative;
  flex: 1;
  display: flex;
  gap: 4px;
  input {
    flex: 1;
    border-radius: 0;
    padding: 12px 4px;
    text-align: center;
  }
  span {
    width: 100%;
    text-align: center;
    border: 0.8px solid var(--color-border);
  }
}

.user-house_number {
  display: flex;
  gap: 4px;
  text-align: center;
  span {
    width: 100%;
    padding: 12px 4px;
    text-align: center;
    border: 0.8px solid var(--color-border);
  }
  input {
    width: 100%;
    border-radius: 0;
    padding: 12px 4px;
    text-align: center;
  }
}

.submit-btn {
  width: 20%;
  margin: auto;
}

.search-select {
  position: absolute;
  background-color: wheat;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  max-height: 200px;
  overflow: auto;
  li {
    cursor: pointer;
  }
}
