.wrapper {
  width: 100%;
  margin-top: 20px;
  padding-bottom: 10px;
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  h3 {
    font-weight: 700;
    margin-bottom: 10px;
  }
}

.stacked-bar-chart {
  height: 400px;
  width: 100%;
}
