.wrapper {
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: stretch;
  margin-top: 20px;
  gap: 10px;
}

.container {
  display: flex;
  gap: 20px;
  padding: 12px;
  background-color: white;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.filter-container {
  position: relative;
  display: flex;
  gap: 10px;
}

.filter-box {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    background-color: transparent;
    top: 100%;
    left: 0;
    height: 10px;
  }
}

.filter-title {
  padding: 2px 10px;
  background-color: #efefef;
  cursor: default;
  transition: all 0.1s ease-in-out;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  &.show {
    background-color: var(--color-primary-1);
  }
}

.filter-chosen {
  padding: 2px 10px;
  background-color: #6699db;
  font-weight: 700;
  color: white;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.filter-list {
  position: absolute;
  background-color: #ffffffa6;
  padding: 4px;
  display: none;
  width: 250px;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 4px;
  &.show {
    display: flex;
  }
  li {
    padding: 2px 4px;
    border: 1px solid #bbb;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    scale: 1;
    transition: all 0.1s ease-in-out;
    &:hover {
      scale: 1.1;
      background-color: var(--color-primary-1);
    }
    &.chosen {
      background-color: var(--color-primary-2);
      color: white;
      font-weight: 600;
    }
  }
}

@keyframes ring-bell-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(5deg);
  }
  20% {
    transform: rotate(-5deg);
  }
  30% {
    transform: rotate(4deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(2deg);
  }
  60% {
    transform: rotate(-2deg);
  }
  70% {
    transform: rotate(1deg);
  }
  80% {
    transform: rotate(-1deg);
  }
  90% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.utility {
  display: flex;
  align-items: stretch;
  gap: 8px;
  .reset-list {
    button {
      height: 100%;
      padding: 0 10px;
      background-color: white;
      border-radius: 4px;
      border: none;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      cursor: pointer;
      svg {
        font-size: 2rem;
        transform: rotate(0);
        transition: all 0.3s ease-in-out;
        color: #a6a6a6;
      }
      &:hover svg {
        transform: rotate(360deg);
        color: var(--color-primary-3);
      }
    }
  }
  .notification {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      height: 10px;
      width: 100%;
      background-color: transparent;
    }
    button.bell {
      &.ring {
        svg {
          animation: ring-bell-animation 0.5s infinite;
          color: tomato;
        }
      }
      height: 100%;
      padding: 0 10px;
      background-color: white;
      border-radius: 4px;
      border: none;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      cursor: pointer;
      svg {
        font-size: 2rem;
        transform-origin: top center;
        transform: rotate(0deg);
        transition: all 0.1s;
        color: #a6a6a6;
      }
      &:hover svg {
        animation: ring-bell-animation 0.5s infinite;
        color: tomato;
      }
    }
  }
  .add-promotion {
    button {
      height: 100%;
      padding: 0 10px;
      margin-left: 12px;
      color: white;
      background-color: var(--color-primary-3);
      border-radius: 4px;
      border: none;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      cursor: pointer;
      scale: 1;
      transition: all 0.1s ease-in-out;
      font-weight: 700;

      &:hover {
        scale: 1.1;
      }
    }
  }
  .list-promotion {
    button {
      height: 100%;
      padding: 0 10px;
      margin-left: 12px;
      color: white;
      background-color: darkolivegreen;
      border-radius: 4px;
      border: none;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      cursor: pointer;
      scale: 1;
      transition: all 0.1s ease-in-out;
      font-weight: 700;

      &:hover {
        scale: 1.1;
      }
    }
  }
  .export-excel {
    button {
      height: 100%;
      padding: 0 10px;
      margin-left: 12px;
      color: white;
      background-color: green;
      border-radius: 4px;
      border: none;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      cursor: pointer;
      scale: 1;
      transition: all 0.1s ease-in-out;
      font-weight: 700;
      &:hover {
        scale: 1.1;
      }
    }
  }
}

//////////////////////////// NOTIFICATION ////////////////////////////

@keyframes reveal {
  0% {
    opacity: 0;

    transform: translateX(-40%);
  }

  100% {
    opacity: 1;

    transform: translateX(-50%);
  }
}

@keyframes hide {
  0% {
    opacity: 1;

    transform: translateX(-50%);
  }
  100% {
    opacity: 0;

    transform: translateX(-60%);
  }
}

.notification-list-wrapper {
  position: absolute;
  top: 115%;
  left: 50%;
  width: 400px;
  max-height: 500px;
  padding: 12px;
  background-color: #b8b8b8c4;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  pointer-events: none;
  &.show {
    opacity: 1;
    pointer-events: auto;
    animation: reveal 0.2s ease-in-out forwards;
  }

  &.hide {
    animation: hide 0.2s ease-in-out forwards;
  }
  z-index: 1;
}

.notification-list-container {
  max-height: 100%;
  overflow: hidden;
  .blank {
    max-height: 95%;
    overflow: auto;

    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      width: 4px;
      height: 0;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: #2b2b2b;
      border-radius: 10px;
    }
  }
}

.notification-title {
  display: flex;
  height: 5%;
  margin-left: 8px;
  cursor: pointer;
  .title_inventory {
    padding: 0 12px;
    padding-top: 2px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
    &.tab {
      background-color: #fff4f4;
    }
    span:first-child {
      margin-right: 24px;
      font-weight: 800;
    }
    span:last-child {
      color: tomato;
      font-weight: 700;
    }
  }
  .title_order {
    padding: 0 12px;
    padding-top: 2px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    &.tab {
      background-color: white;
    }
    span:first-child {
      margin-right: 24px;
      font-weight: 800;
    }
    span:last-child {
    }
  }
}

/////////inventory/////////

.notification-list-inventory {
}

.inventory-wrapper {
  padding: 8px;
  background-color: #fff4f4;
  border-radius: 8px;
}

.alert-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
  border-bottom: 1px solid #bbb;
  &:not(:last-child) {
    margin-bottom: 8px;
  }

  padding: 8px;
  border-radius: 0;
  background-color: transparent;
  transition: all 0.08s ease-in-out;
  &:hover {
    background-color: var(--color-primary-1);
    border-radius: 8px;
  }
}

.alert-item {
  display: flex;
  gap: 10px;
}

.alert-variant-img {
  img {
    max-height: 60px;
  }
}

.alert-variant-name-price {
  .name {
    span {
      font-weight: 800;
    }
  }
  .price {
    span {
      &:first-child {
        font-weight: 400;
        margin-right: 4px;
      }
    }
    .discount {
      &:first-child {
        color: #a6a6a6;
        text-decoration: line-through;
        font-size: 1.4rem;
      }
      &:last-child {
        color: darkorange;
        font-size: 1.6rem;
        font-weight: 800;
      }
    }
  }
}

.alert-remove {
  display: flex;
  height: fit-content;
  background-color: transparent;
  border: none;
  outline: none;
  svg {
    color: red;
    font-size: 2rem;
  }
  scale: 1;
  transition: all 0.1s ease-in-out;
  transform: rotate(0);
  &:hover {
    scale: 1.1;
    transform: rotate(360deg);
  }
}

/////////order/////////

.notification-list-order {
}
