.wrapper {
  display: flex;
  gap: 20px;
  background-color: white;
  padding: 12px;
  border-radius: 4px;
  margin-top: 20px;
}

.container {
  position: relative;
  display: flex;
  gap: 10px;
}

.filter-box {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    background-color: transparent;
    top: 100%;
    left: 0;
    height: 10px;
  }
}

.filter-title {
  padding: 2px 10px;
  background-color: #efefef;
  cursor: default;
  transition: all 0.1s ease-in-out;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  &.show {
    background-color: var(--color-primary-1);
  }
}

.filter-chosen {
  padding: 2px 10px;
  background-color: #6699db;
  font-weight: 700;
  color: white;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.filter-list {
  position: absolute;
  background-color: #ffffffa6;
  padding: 4px;
  display: none;
  width: 250px;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 4px;
  &.show {
    display: flex;
  }
  li {
    padding: 2px 4px;
    border: 1px solid #bbb;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    scale: 1;
    transition: all 0.1s ease-in-out;
    &:hover {
      scale: 1.1;
      background-color: var(--color-primary-1);
    }
    &.chosen {
      background-color: var(--color-primary-2);
      color: white;
      font-weight: 600;
    }
  }
}
