.wrapper {
  height: 100vh;
}

.container {
  height: 100%;
  overflow: hidden;
}

.products {
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  padding: 10px;
  padding-left: 0;
  .products-container {
    height: 90%;
    padding: 20px;
    background-color: white;
    overflow: auto;
    border-radius: 8px;
  }
}

.product {
  display: flex;
  justify-content: space-between;
  background-color: white;
  transition: all 0.2s ease-in-out;
  border-radius: 4px;
  gap: 4px;
  border: 1px solid var(--color-border);
  &:not(:last-child) {
    margin-bottom: 8px;
  }
  &:hover {
    background-color: var(--color-primary-1);
  }
}

.product-blank {
  padding: 0 8px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: var(--color-primary-3);
}

.product-link {
  flex: 1;
  padding: 8px;
}

.product-info {
  h3 {
    font-weight: 700;
  }
  div {
    span {
      color: white;
      font-weight: 800;
      font-size: 1.4rem;
      padding: 0 4px;
      border-radius: 8px;
    }
    span:nth-child(1) {
      background-color: var(--color-primary-2);
      margin-right: 4px;
    }
    span:nth-child(2) {
      background-color: #5eab50;
    }
  }
}

.product-delete {
  position: relative;
  button {
    height: 100%;
    border: none;
    background-color: tomato;
    padding: 0 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
    svg {
      color: white;
      font-size: 1.8rem;
      scale: 1;
      transition: all 0.1s ease-in-out;
    }
    &:hover {
      svg {
        scale: 1.1;
      }
    }
    &.disable {
      opacity: 0.6;
    }
  }
  &:hover {
    .delete-popup {
      display: block;
    }
  }
}

.product-search {
  display: flex;
  width: 40%;
  place-self: end;
  margin: 8px 0;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  input {
    flex: 1;
    padding: 8px 12px;
    padding-right: 16px;
    font-size: 1.6rem;
  }
  button {
    background-color: darkorange;
    color: white;
    font-size: 1.2rem;
    border: none;
    font-weight: 800;
    padding: 4px;
    border-radius: 4px;
  }
}

.delete-popup {
  position: absolute;
  display: none;
  font-size: 1.4rem;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  width: max-content;
  margin-right: 4px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: white;
  padding: 0 4px;
  border-radius: 4px;
}
